<!-- jQuery -->
<script src="__JS__/libs/jquery/jquery-1.8.2.min.js"></script>
<script src="__JS__/libs/jquery/jquery-ui.min.js"></script>

<!-- Apollo -->
<script type="text/javascript">
/**
 * Global Variables
 * @Author: Ruofei Du
 */
var Apollo = {};
Apollo.baseUrl		=	"__APP__";
Apollo.publicUrl	=	"__APP__" + "public/";
<!-- Apollo.publicUrl	=	"http://localhost/create/" + "public/"; -->
Apollo.texUrl		=	"__APP__" + "public/textures/";
Apollo.videoUrl		=	"__APP__" + "public/videos/";
Apollo.modelUrl		=	"__APP__" + "public/models/";
</script>

<script src="__JS__/app/admin.js"></script>
